.form {
  margin-bottom: 20px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
  font-size: 20px;

  background-color: #f5f2f8;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
}
.input {
  height: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  font-size: 16px;
}
.btn {
  margin: 8px 30px 16px;
  background-color: #e0e0e0;
  font-size: 20px;
}
.labelCont {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
}
.err {
  font-size: 16px;
  color: rgb(227, 64, 64);
}
